.App
{
  min-height: 100vh;
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
}
.tic{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  flex-direction: column;
  font:35px "Century Gothic",bold,Futura,sans-serif;
  padding: 10px 30px 5px 5px;
  box-sizing: border-box;
  width:auto;
  height: auto;
  padding: 20px;
    border: rgb(32, 118, 248) 2px groove;
 
  
  /* top: 15px; */
  
   /* background:linear-gradient(to right,
  rgb(6, 240, 224) 0%, rgb(10, 90, 239) 50%,rgb(0, 30, 255) 50%,rgb(115, 234, 210) 100%);  */
   /* ; */
 
}



.search-form
{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: text;

}
.search-bar
{
  width: 50%;
  border: none;
  padding: 10px;
}
.search-button
{
  background-color: rgb(177, 7, 7);
border: none;
cursor: pointer;
padding: 10px 20px ;
color: white;
}
.recipies
{
  
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  flex-wrap: wrap;
  flex-grow: 1;

}